<nav class="navbar navbar-expand-lg fixed-top" id="sideNav">
  <div class="col-sm">
    <div class="menu" *ngIf="this.isUserActive()">
      <div class="item-menu">
        <ul>
          <li>
            <a [routerLink]="['/home']" routerLinkActive="active"
              ><fa-icon [icon]="Home"></fa-icon> Home</a
            >
          </li>
          <li>
            <a href="#"><fa-icon [icon]="User"></fa-icon>My Account</a>
          </li>
          <li>
            <a href="#"><fa-icon [icon]="Media"></fa-icon>My Collection</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="menu" *ngIf="!this.isUserActive()">
      <div class="item-menu">
        <ul class="nav flex-column">
          <li class="nav-link">
            <a [routerLink]="['/register']" routerLinkActive="active"
              ><fa-icon [icon]="SignInAlt"></fa-icon> Register
            </a>
          </li>
          <li class="nav-link">
            <a [routerLink]="['/login']" routerLinkActive="active"
              ><fa-icon [icon]="User"></fa-icon> login</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
